.books-list {
    width: 912px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 912px) {
    .page-body {
      width: 100%;
    }
  }
  .book-card {
    display: flex;
    flex-direction: column;
    width: 18rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
  }
  .book-card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1 1 auto;
  }
  .book-card-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  .none-decoration {
    text-decoration: none;
    color: #212529;
  }
  